html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  margin: 0;
  width: auto;
}

.btn {
  max-width: 25em;
  margin: 0 auto;
  padding: 1em;
}

.box-2 {
  min-width: 20em;
  padding: 1em;
  margin: 0 auto;
  max-width: 25em;
}

h2 {
  font-size: 1.5em;
  font-family: lato, serif;
  margin-top: 0;
}

p {
  line-height: 1.5;
  font-size: 1em;
  font-family: lato, serif;
  color: #333;
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-weight: 500;
  padding-top: 1em;
}

img {
  display: block;
  width: 100%;
  text-align: center;
}

a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: .75em;
  border-radius: 5px;
  border: 3px solid #333;
  font-family: Lato, serif;
  color: #333;
  font-size: 1em;
}

section {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  display: inline-block;
  text-align: center;
  font-weight: normal;
}

div {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-family: Lato, serif;
}

a:hover {
  background-color: #666;
  color: #eee9de;
}
