html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  padding: 1em;
  margin: 0 auto;
}

.box-2 {
  width: 28%;
  /* margin-right:2rem; */
  /* padding: 2rem 0; */
  display: inline;
}

.btn{
  display: inline-block;
  width: 70%;
  vertical-align: top;
  padding-top: 1.2rem;

}

img {
  width: 100%;
  max-width: 450px;
  min-width: 320px;
  padding: 1em 1em 1em .75em;
}

h2 {
  text-align: left;
  font-size: 1.5em;
  font-family: Lato, serif;
  margin: 0 0 2rem 0;
}

.btn>p {
  text-align: left;
  width: 90%;
  color: #333;
  text-align: left;
  max-width: 40em;
}

p {
  line-height: 1.5;
  font-size: 1em;
  font-family: Lato, serif;
}

a {
  text-align: left;
  text-decoration: none;
  display: inline-block;
  padding: .75em;
  border-radius: 5px;
  border: 2px solid #333;
  color: #666;
  font-family: Lato, serif;
  font-weight: bold;
}

a:hover {
  background-color: #666;
  color: #eee9de;
}

section {
  width: 100%;
  max-width: 960;
  text-align: left;
  vertical-align: middle;
}

/* @media screen(min-width:840px){
  section {
    width: 100%;
    text-align: center;
    vertical-align: middle;
  }
  .btn {
    width: 40%
  } */
}
